:root {
	--nav-height: 10vh;
	--text-light: hsla(0, 100%, 100%, 1);
	--slice-height: calc(90vh / 7);
	--border-color: hsla(0, 0%, 0%, 0.5);
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui;
  -webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	color: var(--text-light);
	background-color: black;
	margin: auto;
	text-align: center;
	font-family: "Inconsolata", "Fira Sans", monospace;
}

footer {
	position: fixed;
	z-index: 2;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: left;
	height: var(--nav-height);
	line-height: var(--nav-height);
	padding: 0 1rem;
	border-top: 1px solid var(--border-color);
}

footer .controls,
footer cite {
	font-style: normal;
	float: right;
	margin-left: 1rem;
}

footer a {
	color: var(--text-light);
	text-decoration: none;
}

footer a.brand {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 4px;
}

.slices {
	width: 100vw;
	height: 100vh;
	position: relative;
	text-align: left;
}

.time-slice {
	position: relative;
	height: var(--slice-height);
	border-bottom: 1px solid var(--border-color);
	text-align: justify;
	font-size: 0.1px;
	padding: 0 1rem;
}

.time-slice:after {
	display: inline-block;
	content: '';
	width: 100%;
}

.time-unit,
.current-time,
.percent-gone {
	display: inline-block;
	color: var(--text-light);
	font-size: 1rem;
	font-weight: 200;
	line-height: var(--slice-height);
	position: relative;
	z-index: 2;
	width: 31%;
	pointer-events: none;
}

.time-unit {
	width: 4rem;
	/* text-align: right; */
}

.current-time {
	font-size: 2rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.percent-gone:after {
	content: " passage";
}

.time-band {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.remove-slice {
	position: absolute;
	right: 1rem;
	color: hsla(0, 100%, 100%, 0.5);
	font-size: 1rem;
	padding: 0 1rem;
	line-height: var(--slice-height);
  text-decoration: none;
  z-index: 4;
}

.remove-slice:hover {
  color: white;
}
