:root {
	--text-light: hsla(0, 100%, 100%, 1);
	--border-color: hsla(0, 0%, 0%, 0.5);
	--grid-gap: 2vw;
}

body {
  color: var(--text-light);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 400px) {
	body {
		font-size: 80%;
	}
}

button,
select {
	background: hsl(0, 0%, 100%);
  border-radius: 4px;
  border-style: solid;
  border-color: hsla(280, 32%, 16%, 0.8);
  border-width: 3px;
  /* padding: 0.375em 0.75em; */
  line-height: 1;
  margin: 0.25em 0;
  height: auto;
  font-size: 12px;
  font-family: inherit;
  font-weight: bolder;
}

section {
	width: 100vw;
	height: 100vh;
	display: grid;
	position: relative;
	z-index: 2;
	grid-template-columns: auto;
	grid-template-rows: 7.5vh auto 7.5vh;
	grid-template-areas:
		"header"
		"main"
		"footer";
	align-content: stretch;
	justify-content: stretch;
}

header {
	grid-area: header;
}

footer {
	grid-area: footer;
}

header, footer {
	align-self: center;
	padding: 0 1em;
}

header a,
footer a {
	color: var(--text-light);
	text-decoration: none;
}

header a.brand {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 4px;
}

.backtube-container {
	z-index: -1;
}

.backtube-cover {
	background: none !important;
}

.slices {
	display: grid;
	grid-area: main;
	grid-template-rows: auto;
}

.time-slice {
	transition: opacity 500ms ease-out;
	display: grid;
	grid-template-columns: 7em 7em auto 4em;
	grid-column-gap: var(--grid-gap);
	align-content: center;
	position: relative;
}

@media screen and (max-width: 400px) {
	.time-slice {
		grid-template-columns: 6em 6em auto 3em;
	}
}

.time-slice.hidden {
	opacity: 0;
}

.time-unit,
.current-time,
.percent-gone,
.hide-slice {
	color: var(--text-light);
	font-size: 1.25em;
	font-weight: 200;
	padding: 1em 0em;
	align-self: end;
	justify-self: stretch;
	position: relative;
	z-index: 2;
}

.time-unit {
	justify-self: end;
}

.current-time {
	letter-spacing: 2px;
	text-transform: uppercase;
	justify-self: start;
}

.percent-gone {
	justify-self: center;
	padding: 0.625em 1em;
	font-size: 2em;
}

/* TODO: visualize past or passed graphically */
.hide-slice {
	opacity: 0.5;
  text-decoration: none;
  z-index: 4;
	align-self: center;
	font-size: 1em;
	background: none;
	text-align: center;
}

.hide-slice:hover {
  opacity: 1;
}

.time-band {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
}

cite {
	display: none;
	font-style: normal;
	float: right;
}

@media screen and (min-width: 34rem) {
	cite {
		display: block;
	}
}

.controls select {
	-webkit-appearance: menulist-button;
	-moz-appearance: menulist-button;
	appearance: menulist-button;
	/* padding: 4px; */
	/* text-align: center; */
}

.video-bkgd {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url('./bronto.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}

.stopfade {
	opacity: 0.5;
}

@media screen and (max-device-width: 800px) {
  body {
		background: url(./bronto.jpg) #000 no-repeat center center fixed;
	}
  #bgvid {
		display: none;
	}
}
