:root {
  --text-light: hsla(0, 100%, 100%, 1);
  --border-color: hsla(0, 0%, 0%, 0.5);
  --grid-gap: 2vw;
}

.clock {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 7.5vh auto 10vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  align-content: stretch;
  justify-content: stretch;
  color: var(--text-light);
  /* TODO: layer in a local backup background image */
  background:
    url("https://source.unsplash.com/collection/4593575")
    #131313 no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
}

@media screen and (max-width: 400px) {
  .clock {
    font-size: 80%;
  }
}

header {
  grid-area: header;
  padding: 2rem 1rem;
  background-image:
    linear-gradient(
      to top,
      transparent,
      hsla(0, 0%, 0%, 0.25) 35%,
      hsla(0, 0%, 0%, 0.375) 75%
    );
}

header a,
footer a {
  color: var(--text-light);
  text-decoration: none;
}

header a.brand {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 12px;
}

.slices {
  display: grid;
  grid-area: main;
  grid-template-rows: auto;
  grid-row-gap: 4px;
}

.slices.flex {
  display: flex;
  flex-direction: column;
}

.time-slice {
  transition: opacity 500ms ease-out;
  display: grid;
  grid-template-columns: 7em 7em auto 7em 4em;
  grid-column-gap: var(--grid-gap);
  align-content: center;
  position: relative;
}

.slices.flex .time-slice {
  flex: 1 1 5vh;
}

@media screen and (max-width: 400px) {
  .clock {
    grid-template-rows: 5em auto 6em;
  }

  .time-slice {
    grid-template-columns: 6em 6em auto 6em 3em;
  }

  .signature {
    flex: 1;
  }

  .controls {
    flex: 1;
  }
}

.time-slice.hidden {
  opacity: 0;
}

.time-unit,
.current-time,
.percent-gone,
.hide-slice {
  color: var(--text-light);
  font-size: 1.25em;
  font-weight: 200;
  /* align text vertically in row */
  align-self: baseline;
  /* justify-self horizontally within row */
  justify-self: stretch;
  position: relative;
  z-index: 2;
}

.time-unit {
  justify-self: end;
  font-weight: 300;
}

.current-time {
  letter-spacing: 2px;
  text-transform: uppercase;
  justify-self: start;
  font-weight: 700;
}

.percent-gone {
  justify-self: center;
  font-size: 1.25em;
  opacity: 0.75;
  font-family: "IBM Plex Mono", monospace;
}

/* todo: visualize past or passed graphically */
.hide-slice {
  text-decoration: none;
  z-index: 4;
  align-self: center;
  font-size: 1em;
  background: none;
  text-align: center;
  opacity: 0;
  transition: 250ms ease-out;
}

.hide-slice:hover {
  opacity: 1;
}

.time-slice:hover .hide-slice {
  opacity: 0.75;
}

.time-band {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

header,
footer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  grid-area: footer;
  background-image:
    linear-gradient(
      to bottom,
      transparent,
      hsla(0, 0%, 0%, 0.25) 25%,
      hsla(0, 0%, 0%, 0.5) 50%
    );
  padding: 0 1rem;
  /* sets footer items in a row */
  flex-flow: row wrap;
  /* wraps them when it gets crowded */
}

cite.signature {
  /* doesn't grow but shrinks */
  flex: 1 1 48ch;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 80%;
  font-style: normal;
  font-weight: lighter;
  margin: 0.5em 0;
  opacity: 0.8;
}

.controls {
  flex: 2 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.5em 0;
}

#mode_list {
  display: none;
}

.controls button,
.controls select {
  background: transparent;
  border-radius: 4px;
  border-style: solid;
  border-color: hsla(280, 32%, 16%, 0.8);
  border-width: 3px;
  line-height: 1;
  margin: 0.25em;
  padding: 0.25em 0.75em;
  height: 3em;
  color: var(--text-light);
  border: 1px solid var(--text-light);
  font-size: 12px;
  font-family: inherit;
  font-weight: bolder;
  cursor: pointer;
}

.controls select {
  -webkit-appearance: menulist-button;
  -moz-appearance: menulist-button;
  appearance: menulist-button;
}

.floater {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 36vw;
  text-align: center;
  opacity: 0.42;
  pointer-events: none;
}

.millis {
  line-height: 70vh;
  font-family: "IBM Plex Mono", Inconsolata, monospace;
}

.arrowoftime {
  line-height: 140vh;
  bottom: 0;
  z-index: 5;
  transition: 500ms ease-out;
  transform-origin: center 75%;
}

.arrowoftime::after {
  content: "⟿";
}

.arrowoftime.reversed {
  transform: rotateX(360deg) rotateZ(180deg);
}

.arrowoftime.spun {
  transform: rotateY(180deg);
}

.arrowoftime.flipped {
  transform: rotateZ(180deg);
}
