.clock {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;
  color: var(--text-light);
  background: #131313 no-repeat center center fixed;
  background-image: url("https://source.unsplash.com/collection/4593575");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  font-size: 80%;
  perspective: 100vw;
  perspective-origin: center top;
  animation-name: thirdeye;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-play-state: running;
  animation-delay: 5s;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
}

.slices {
  position: relative;
  width: 100vw;
  height: 100vh;
  transform-origin: center center;
  transform-style: preserve-3d;
  transform: rotateX(60deg) translateY(-10vh);
  animation-name: astral;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-play-state: running;
  animation-delay: 5s;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
}

@media screen and (min-height: 450px) {
  .clock {
    font-size: 100%;
  }
}

@media screen and (min-height: 450px) and (min-width: 450px) {
  .clock {
    font-size: 100%;
  }
}
