button,
.btn {
  width: auto;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  overflow: visible;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* Remove excess padding and border in Firefox 4+ */
.btn::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.extra,
.hidden {
  display: none;
}

.btn.ctrl {
  font-size: 2rem;
  line-height: 3rem;
  margin: 0 0.375em;
  height: 3rem;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

@media screen and (min-width: 640px) and (min-height: 480px) {
  .btn.ctrl {
    font-size: 3rem;
  }
}
