.floater {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: calc((16vw + 16vh) / 2);
  text-align: center;
  opacity: 0.42;
  pointer-events: none;
}

.millis {
  line-height: 60vh;
  font-family: "IBM Plex Mono", Inconsolata, monospace;
}

.arrow {
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 45vh;
  padding-bottom: 1vh;
  will-change: transform;
  transition: 500ms ease-out;
  transform: rotateZ(90deg);
}

.arrow::after {
  content: "⟿";
}

.arrow.reversed {
  transform: rotateZ(-90deg);
}
