.floater {
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  pointer-events: none;
}

.millis {
  line-height: 100vh;
  font-family: "IBM Plex Mono", Inconsolata, monospace;
  opacity: 0.32;
  z-index: 1000;
  font-size: 75vh;
  animation: throb 100s infinite;
}

.arrow {
  top: 2vh;
  width: 25vw;
  height: 25vh;
  font-size: 42vh;
  z-index: 30;
  opacity: 0.621;
  will-change: transform;
  transition: 400ms ease-out;
  transform: translateX(5rem) translateY(-7rem);
}

.arrow::after {
  content: "⟿";
  display: block;
  transition: 400ms ease-out;
  transform-origin: center center;
  transform: rotateZ(90deg);
}

.arrow.reversed {
  transform: translateX(4rem) translateY(-3rem);
}

.arrow.reversed::after {
  transform: rotateZ(270deg);
}

@media screen and (min-height: 480px) {
  .arrow {
    font-size: 22vh;
    transform: translateX(6rem) translateY(-3rem);
  }

  .arrow.reversed {
    transform: translateX(4rem) translateY(-6rem);
  }
}

@media screen and (min-height: 480px) and (min-width: 480px) {
  .arrow {
    font-size: 30vh;
  }

  .arrow.reversed {
    transform: translateX(3rem) translateY(-3rem);
  }
}
