footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7.5rem;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  /* sets footer items in a row */
  flex-flow: row wrap;
  /* wraps them when it gets crowded */
  background-image: linear-gradient(
    to bottom,
    transparent,
    hsla(0, 0%, 0%, 0.25) 25%,
    hsla(0, 0%, 0%, 0.5) 50%
  );
}

footer a {
  color: var(--text-light);
  text-decoration: none;
}

.humble {
  font-weight: lighter;
  font-size: 80%;
}

/* .ctrls { */
/*   order: 1; */
/* } */

.brand {
  font-size: 2.25em;
  line-height: 1;
  font-weight: 200;
  letter-spacing: 6px;
  position: relative;
  flex-basis: 100%;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .brand {
    flex-basis: auto;
  }

  footer {
    padding: 0 1rem;
    height: 5rem;
  }

  .humble {
    font-size: 100%;
  }
}

@media screen and (min-height: 480px) and (min-width: 480px) {
  footer {
    height: 7.5rem;
  }

  .btn.ctrl {
    margin: 0 0.75em;
  }
}

.asker {
  display: flex;
  transform: scale(1);
  opacity: 1;
  transition: 1000ms;
}

.asker.hidden {
  display: none;
  transform: scale(0.01);
  opacity: 0;
}

#app_adder {
  animation: 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite pulse;
  box-shadow: 0 0 0 0 hsla(332, 76%, 75%, 0.5);
}

#app_noper:hover {
  background-color: hsla(10, 85%, 60%, 1);
}
