.brand {
  font-size: 2.5em;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: 6px;
  position: relative;
}

@media screen and (min-width: 350px) {
  .brand {
    letter-spacing: 12px;
  }
}

@media screen and (min-height: 450px) {
  .brand {
    line-height: 5rem;
  }
}

.asker {
  display: flex;
  transform: scale(1);
  opacity: 1;
  transition: 1000ms;
}

.asker.hidden {
  display: none;
  transform: scale(0.01);
  opacity: 0;
}

#app_adder {
  animation: 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite pulse;
  box-shadow: 0 0 0 0 hsla(332, 76%, 75%, 0.5);
}

#app_noper:hover {
  background-color: hsla(10, 85%, 60%, 1);
}
