/* .clock > .slices > .time-slice > .time-band { } */
.clock {
  perspective: 100vw;
  perspective-origin: center top;
}

.slices {
  position: relative;
  transform-origin: center center;
  transform-style: preserve-3d;
  transform: rotateX(70deg) translateY(20vh) skewX(70deg);
  /* transform: rotate3d(0, 0, 1, -90deg) skew(0deg, 0deg) translate3d(0, 0, 0); */
}

.time-unit,
.current-time,
.percent-gone {
  color: var(--text-light);
}

.innerspace {
  margin-left: 3vw;
  opacity: 0.6;
}

.time-slice:nth-child(2n-1) .innerspace {
  margin-bottom: 2em;
}

.time-unit {
  order: 1;
  margin-left: 0.875em;
  display: block;
}

.current-time {
  order: 2;
  font-size: 2rem;
}

.percent-gone {
  order: 3;
  font-family: "IBM Plex Mono", monospace;
  transform: rotateZ(-90deg);
  align-self: center;
  opacity: 0.3;
}

.time-slice:nth-child(2n-1) .percent-gone {
  padding-right: 2em;
}

.time-slice {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
/* years */
/* .time-slice:nth-child(1) { */
/* width: calc((700% / 7)); */
/* } */

/* months */
.month-slice {
  width: calc((600% / 7));
  z-index: 2;
}

/* weeks */
.week-slice {
  width: calc((500% / 7));
  z-index: 3;
}

/* days */
.day-slice {
  width: calc((400% / 7));
  z-index: 4;
}

/* hours */
.hour-slice {
  width: calc((300% / 7));
  z-index: 5;
}

/* minutes */
.minute-slice {
  width: calc((200% / 7));
  z-index: 6;
}

/* seconds */
.second-slice {
  width: calc((100% / 7));
  z-index: 7;
}

.time-band {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  will-change: transform;
}
