* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui;
  -webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: "Inconsolata", "Fira Sans", monospace;
  background-color: black;
}
